@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: none;
  padding: none;
  color: #595757;
}

p {
  margin: 0px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 6px 2px;
}

h3 {
  margin: 0px;
  padding: 4px;
  font-size: 12px;
  font-weight: 600;
  background-color: #ddd0cb;
  color: #FFFFFF;
  border-radius: 6px;
}

body {
  background-color: #f5f2eb;
}

body .container {
  width: 96%;
  margin: 0 auto;
}

body .container > #recent_coffee {
  margin-bottom: 40px;
}

body .container > #recent_coffee > .cards {
  display: flex;
  justify-content: space-between;
}

body .container > #recent_coffee > .cards > .card {
  width: 48.5%;
  padding: 8px;
  background-color: #FFFFFF;
  border-radius: 6px;
}

body .container > #recent_coffee > .cards > #profile > dl {
  margin: 8px 2px;
  font-weight: 300;
}

body .container > #recent_coffee > .cards > #profile > dl > dt {
  color: #ddd0cb;
  font-size: 10px;
  font-weight: 400;
}

body .container > #recent_coffee > .cards > #profile > dl > dd {
  font-size: 10px;
  margin: 0 0 8px 0;
  font-weight: 400;
}

body .container > #recent_coffee > .cards > #details {
  font-size: 10px;
}

body .container > #recent_coffee > .cards > #details > .description-first {
  margin: 8px 0px 0px 0px;
}

body .container > #recent_coffee > .cards > #details > .description-second {
  margin: 0px 0px 8px 0pxt;
}

body .container > #coffee_history > #history {
  padding: 6px;
  background-color: #FFFFFF;
  border-radius: 6px;
}

body .container > #coffee_history > #history > table {
  width: 96%;
  margin: 0 auto;
  border-collapse: collapse;
}

body .container > #coffee_history > #history > table > thead > tr {
  background-color: #ddd0cb;
  border-radius: 6px;
  font-size: 12px;
}

body .container > #coffee_history > #history > table > thead > tr > th {
  padding: 8px 12px;
  color: #FFFFFF;
  text-align: left;
}

body .container > #coffee_history > #history > table > thead > tr > th:first-child {
  border-radius: 6px 0px 0px 6px;
}

body .container > #coffee_history > #history > table > thead > tr > th:last-child {
  border-radius: 0px 6px 6px 0px;
}

body .container > #coffee_history > #history > table > tbody {
  font-size: 10px;
}

body .container > #coffee_history > #history > table > tbody > tr {
  border-bottom: 0.5px solid #f5f2eb;
}

body .container > #coffee_history > #history > table > tbody > tr > td {
  padding: 8px 12px;
  text-align: left;
}

body .container > #coffee_history > #history #pagination {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

body .container > #coffee_history > #history #pagination > ul {
  display: flex;
  padding: 0px;
}

body .container > #coffee_history > #history #pagination > ul > li {
  padding: 4px;
}
